<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.witold.todoapp">

    <application
        android:name=".ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.main_activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="a  ndroid.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.slider_activity.SliderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".job_service.TaskNotificationBroadcastReceiver"
            android:enabled="true"
            android:process=":remote"></receiver>
        <receiver android:name=".view.app_widget.ToDoAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/to_do_app_widget_info" />
        </receiver>
        <service android:name=".view.app_widget.ToDoAppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>